[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
requests = "*"
types-requests = "*"
types-pyyaml = "*"
click = "==8.0.1"
confluent-kafka = "*"
flask = "*"
avro = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
black = "==22.3.0"
pep8-naming = "*"
flake8-builtins = "*"
darglint = "*"
flake8-eradicate = "*"
flake8-bandit = "*"
flake8-expression-complexity = "*"
pylint = "*"
pydoc-markdown = "*"
pytest-cov = "*"
responses = "*"
pytest-xdist = "*"

[requires]
python_version = "3.8"
